.vscode
node_modules
out/
src/
images/enableperproject.png
images/hoverover.png
images/smd-demo-1.gif
images/snippetsample01.gif
images/snippetsample02.gif
images/snippetssample03.gif
images/syntaxhighlights.png
images/intellisense01.gif
tsconfig.json
webpack.config.js
*.ts